{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="page-header">
			<h1>Caesar Cipher</h1>
		</div>

		<div class="row">
			<div class="col-md-12">
				<form id="form-login" action="" method="post" name="login">
					<div class="col-md-5">
						<div class="form-group">
							<textarea class="form-control" name="text" id="text" placeholder="Project Description"></textarea>
						</div>
					</div>
					<div class="col-md-2">
						<div class="col-md-12">
							<div class="form-group">
								<input type="number" name="key" class="form-control" id="key" placeholder="Cina Saffary" required>
							</div>
						</div>
						<div class="col-md-6 co-sm-6 col-xs-6">
							<button type="submit" class="btn cipher-click" value="decipher" id="decipher">
								decipher<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							</button>
						</div>
						<div class="col-md-6 co-sm-6 col-xs-6">
							<button type="submit" class="btn cipher-click" value="encipher" id="encipher">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>encipher
							</button>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<textarea class="form-control" name="ansver" id="ansver" placeholder="Project Description"></textarea>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">

						</div>
					</div>



				</form>
			</div>
		</div>
	</div>
{% endblock %}
